<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/stars.css">


    <div class="row">
        <div class="col-sm-12 col-lg-6 rounded-3">

            <%# carousel %>
                <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner shadow-sm">
                        <% campground.images.forEach((img,i)=>{ %>
                            <div class="carousel-item <%= i===0 ? 'active' : ''  %>">
                                <img src="<%= img.url  %>" class="d-block w-100 carousel-img rounded-3" alt="">
                            </div>
                            <% }) %>
                    </div>
                    <% if(campground.images.length>1) {%>
                        <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <% } %>
                </div>

                <div class="card mb-5 shadow-sm lines" id="">

                    <div class="card-body">
                        <h5 class="card-title" id="show-campname">
                            <%=campground.title%>
                        </h5>
                        <p class="card-text">
                            <%=campground.description%>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted lines">
                            <%=campground.location%>
                        </li>
                        <li class="list-group-item lines">Submitted by <span id="show-username">
                                <%=campground.author.username%>
                            </span>
                        </li>
                        <li class="list-group-item text-muted lines">Price: $<%=campground.price%>/night</li>

                        <% if(campground.website) {%>
                            <li class="list-group-item text-muted lines">Website: <a href="<%=campground.website%>"
                                    id="website-link">
                                    <%=campground.website %>
                                </a>
                            </li>
                            <% } %>

                    </ul>
                    <% if(currentUser && campground.author.equals(currentUser._id)) {%>
                        <%#An yparxei currentUser KAI isoutai me to author tou sigkekrimenou campground, tote deixnoume
                            ta koumpia delete kai edit %>
                            <div class="card-body lines">
                                <a class="card-link btn btn-outline-secondary"
                                    href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                                <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                            <%} %>
                </div>
        </div>
        <div class="col-sm-12 col-lg-6"" id=" show-card">






            <div class="shadow-sm mb-5 rounded-3" id="map"></div>





            

            <% if(currentUser){ %>

                <h2 class="ms-1 mb-4 black">Leave a Review</h3>
                <div class=" review-card mt-3 mb-4">

                    <%#An yparxei currentUser, tote kanoume render tin forma pou afinoume reviews %>
                        
                        <form action="/campgrounds/<%=campground._id%>/reviews" method="POST"
                            class="mb-3 validated-form" novalidate>

                            <div class="ms-1 mt-3 mb-1" id="">
                                <fieldset class="starability-basic">
                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                        value="1" checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>

                            <div class="ms-1 me-1" id="show-card">
                                <textarea class="form-control lines" name="review[body]" id="body" cols="30" rows="3"
                                    required placeholder="Share your thoughts:"></textarea>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                            </div>
                            <button class="btn btn-outline-success mt-3 ms-1">Submit</button>
                        </form>
                </div>
                <% } %>

                <div class="mb-4">
                    <% for(let review of campground.reviews) {%>
                        <div class="card bg-transparent  border-0 border-top ms-2 me-2" id="">
                            <div class="card-body">

                                <p class="starability-result" data-rating=<%=review.rating %>>
                                    Rated: <%=review.rating %> stars
                                </p>

                                <h6 class="black">
                                    <%=review.author.username %>
                                </h6>

                                <p class="card-text ">
                                    <%=review.body %>
                                </p>

                                <% if(currentUser && review.author.equals(currentUser._id)) {%>
                                    <%#An yparxei currentUser KAI isoutai me to REVIEW.author tou sigkekrimenou
                                        campground, tote deixnoume to koumpi delete%>
                                        <form
                                            action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE"
                                            method="POST">
                                            <button class="btn btn-sm btn-outline-danger">Delete</button>
                                        </form>
                                        <% } %>
                            </div>
                        </div>
                        <% } %>
                    </div>
        </div>
    </div>

<div id="scroll-to-top-container">
    <button id="scroll-to-top-button"></button>
  </div>


    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campground = <%-JSON.stringify(campground)%>;  //apoktame psrosvash apo to campground sto showPageMap, opou meta pairnoume to campground.geometry.coordinates
    </script>


    <script src="/javascripts/scrollButton.js"></script>

    <script src="/javascripts/showPageMap.js"></script>
